<div class="header clearfix">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
    </ul>
    <h3 class="text-muted pull-left">CF Container Info Web UI</h3>
</div>

<div class="row">
    <h4>Run remote command</h4>
    <p>
        <input ng-model="cmd" placeholder="eg: ls app" />
        <button ng-click="execute_command(cmd)">Execute</button>
    </p>
    <div class="results">
        <pre>{{cmd_results}}</pre>
    </div>
</div>

<div class="row">
    <h4>Browse container filesystem</h4>
    <iframe src="/root/" width="100%" height="300px"></iframe>
</div>

<div class="footer">
    <p>CF Container Info Web UI</p>
</div>